<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>About</h1>
							{{#each aboutcontents}}{{#each this.main}}
							<h2>{{this.title}}</h2>
							<p>{{{this.message}}}</p>
							{{/each}}{{/each}}
							<hr>
							<div class="ads">
								{{#each aboutcontents}}{{#each this.ads}}
								<h2>{{this.title}}</h2>
								<p>{{this.message}}</p>
								{{/each}}{{/each}}
								</div>
							{{#each aboutcontents}}{{#each this.body}}
							<h2>{{this.title}}</h2>
							<p>{{{this.message}}}</p>
							{{/each}}{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
            {{> footer}}
	</div>
</body>
</html>